In [1]:
import pandas as pd
import numpy as np


import sys
sys.executable

'/Users/nordin/opt/miniconda3/envs/anaconda_py38/bin/python'

# Find location of `Nan`'s in a dataframe

See `Amirkhm`'s answer at [Find integer index of rows with NaN in pandas dataframe](https://stackoverflow.com/questions/14016247/find-integer-index-of-rows-with-nan-in-pandas-dataframe).

In [10]:
df = pd.DataFrame([['zero',2,8,16,7,5], 
                   ['one',1,3,4,np.nan,2], 
                   ['two',7,8,9,4,2],
                   ['three',5,6,np.nan,3,3], 
                  ])
df

       0  1  2     3    4  5
0   zero  2  8  16.0  7.0  5
1    one  1  3   4.0  NaN  2
2    two  7  8   9.0  4.0  2
3  three  5  6   NaN  3.0  3

In [12]:
index_locations = df.loc[pd.isnull(df).any(1), :].index.values
index_locations

array([1, 3])

In [13]:
for i in index_locations:
    print(df.iloc[i])

0    one
1      1
2      3
3      4
4    NaN
5      2
Name: 1, dtype: object
0    three
1        5
2        6
3      NaN
4        3
5        3
Name: 3, dtype: object